---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const description =
  "Meet the Talented Minds Driving Innovation and Success at BubbleBuddy";

// Team images
import p1 from "../../assets/team/chirag.png";
import p2 from "../../assets/team/atharva.png";
import p3 from "../../assets/team/yashimg.png";
import p4 from "../../assets/team/vedantimg.png";
import p5 from "../../assets/team/vaishnavi.png";
import p6 from "../../assets/team/laxmi.png";

const team = [
  {
    pic: p1,
    name: "Chirag Ferwani",
    role: "App Developer",
    description:
      "Oversees operations, manages projects, and drives app development, ensuring timely execution.",
    link: "https://www.linkedin.com/in/chiragferwani/",
  },
  {
    pic: p4,
    name: "Vedant Ahire",
    role: "React Developer",
    description:
      "Crafts dynamic and responsive user interfaces using React/NextJS, ensuring seamless user experience.",
    link: "https://www.linkedin.com/in/vedant-ahire-067220245/",
  },
  {
    pic: p5,
    name: "Vaishnavi Patil",
    role: "Python Developer",
    description:
      "Designs and develops robust backend systems and APIs, ensuring scalability with project requirements.",
    link: "https://www.linkedin.com/in/vaishnavisanjiv/",
  },
  {
    pic: p6,
    name: "Laxmi Mane",
    role: "Marketing Manager",
    description:
      "Develops and executes marketing strategies, driving brand awareness and client engagement for growth.",
    link: "https://www.linkedin.com/in/laxmi-mane-149b30252/",
  },
  {
    pic: p2,
    name: "Atharva Kakade",
    role: "Java Developer",
    description:
      "Builds secure backend solutions, leveraging Java to support scalable and high-performance applications.",
    link: "https://www.linkedin.com/in/atharva-kakade/",
  },
  {
    pic: p3,
    name: "Yash Chavan",
    role: "Web Developer",
    description:
      "Builds responsive, high-performance websites with a focus on reliability and user satisfaction.",
    link: "https://www.linkedin.com/in/yash-chavan-78b009233/",
  },
];
---

<Section id="about">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Team" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
  </div>
</Section>
