---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const description =
  "Meet the Talented Minds Driving Innovation and Success at BubbleBuddy";

// Team images
import p1 from "../../assets/team/chirag.png";
import p2 from "../../assets/team/atharva.png";
import p3 from "../../assets/team/yashimg.png";
import p4 from "../../assets/team/vedantimg.png";
import p5 from "../../assets/team/vaishnavi.png";
import p6 from "../../assets/team/laxmi.png";

const team = [
  {
    pic: p1,
    name: "Chirag Ferwani",
    role: "Flutter Developer",
    description:
      "Oversees operations, manages projects, and drives app development, ensuring timely execution.",
    link: "https://www.linkedin.com/in/chiragferwani/",
  },
  {
    pic: p4,
    name: "Vedant Ahire",
    role: "React Developer",
    description:
      "Crafts dynamic and responsive user interfaces using React/NextJS, ensuring seamless user experience.",
    link: "https://www.linkedin.com/in/vedant-ahire-067220245/",
  },
  {
    pic: p2,
    name: "Atharva Kakade",
    role: "UI/UX Designer",
    description:
      "Designs engaging user experiences ensuring every interface is user-centered and visually appealing.",
    link: "https://www.linkedin.com/in/vedant-ahire-067220245/",
  },

  
];
---

<Section id="about">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Team" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
  </div>
</Section>
